# Site settings
title: Better Places For Humans
description: Projects and blog posts about making better places for humans

# Build settings
theme: minima

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
