# Site settings
title: Better Places For Humans
description: Projects and blog posts about making better places for humans

plugins:
- jekyll-remote-theme
remote_theme: pages-themes/hacker@v0.2.0
markdown: kramdown

kramdown:
  input: GFM
  math_engine: mathjax
  
# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
